appdirs==1.4.4
autopep8==1.5.5
certifi==2020.12.5
chardet==4.0.0
cprint==1.2
distlib==0.3.1
Faker==6.3.0
filelock==3.0.12
idna==2.10
psycopg2-binary==2.8.6
pycodestyle==2.6.0
pynput==1.7.3
pyobjc-core==7.1
pyobjc-framework-Cocoa==7.1
pyobjc-framework-Quartz==7.1
python-dateutil==2.8.1
requests==2.25.1
six==1.15.0
text-unidecode==1.3
toml==0.10.2
urllib3==1.26.3
virtualenv==20.4.2
